* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2b2922;
  color: white;
}
.navbar{
    margin-top: 30px;
}
nav div img{
    margin-left: 150px;
}
.list {
  position: absolute;
  left: 900px;
  top: 45px;
  display: table;
}
.list-item {
  display: inline;
  padding: 15px;
  left: 0px;
}
.button-small {
  position: absolute;
  top: 40px;
  right: 50px;
  padding: 10px 20px;
  background-color: transparent;
  color: #9d8c36;
  border: 2px solid #9d8c36;
  border-radius: 10px;
}
.hero-heading {
  position: absolute;
  top: 200px;
  left: 150px;
  right: 750px;
  font-size: 76px;
}
.hero p {
  position: absolute;
  top: 250px;
  left: 900px;
  right: 250px;
  font-size: 20px;
}
.hammer {
  margin-top: 20%;
  width: 100%;
}
